<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dato.push.app.dao.mapper.PushPlatformConfigValueMapper">
  <resultMap id="BaseResultMap" type="com.dato.push.app.dao.PushPlatformConfigValue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="config_id" jdbcType="BIGINT" property="configId" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
</mapper>